
@{
    Layout = null;
}
@model WebApplication18.Entities.Musteri

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DÜZENLE</title>
</head>
<body>
   <div style="margin-left:700px"><h1>MÜŞTERİ DÜZENLEME SAYFASI</h1></div>
    @using (Html.BeginForm("Edit", "Musteri", FormMethod.Post))
    {
        <div style="margin-left:700px">
    <table>
        <tr>
            <td>Ad</td>
            <td>
                @Html.TextBoxFor(a => a.Ad)
            </td>
        </tr>




        <tr>
            <td>Soyad</td>
            <td>
                @Html.TextBoxFor(a => a.Soyad)
            </td>
        </tr>




        <tr>
            <td>Ucret</td>
            <td>
                @Html.TextBoxFor(a => a.Ucret)
            </td>
        </tr>


        <tr>
            <td>Adres</td>
            <td>
                @Html.TextBoxFor(a => a.Adres)
            </td>
        </tr>


        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Düzenle" />
                @Html.HiddenFor(a => a.Id)
            </td>
            </tr>
        </table>
            </div>


        }




</body>
</html>
